<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <title>header_main _floor</title>
    <style>
    </style>
</head>

<body>

<!--{% extends "base.html" %}-->
<!--{% block title %}Комплексная страница{% endblock %}-->


<!--{% block content %}-->
    <main>
        <h1>Joy of
            T<sub>E</sub>X
        </h1>
    </main>

    <main>
        <pre>
            <code>
             Евгений Евтушенко
                  -1955-
        Бывало, спит у ног собака,
        костер занявшийся гудит,
        и женщина из полумрака
        глазами зыбкими глядит.

        Потом под пихтою приляжет
        на куртку рыжую мою
        и мне,
           задумчивая,
                    скажет:
        << А ну-ка,спой!..>> -
                          и я пою.
            </code>
        </pre>
    </main>

    <main>
        <table border cellspacing=1 bordercolor="#000">
            <caption>Добыча драгоценных камней</caption>
            <thead>
                <tr >
                    <td  ALIGN=center width="100" height="30"></td>
                    <td  ALIGN=center width="50">2010</td>
                    <td  ALIGN=center width="50">2012</td>
                    <td  ALIGN=center width="50">2014</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Сапфиры</td>
                    <td ALIGN=center rowspan="2" > 1483 </td>
                    <td>4532</td>
                    <td>6743</td>
                </tr>
                <tr>
                    <td>Рубины</td>
                    <td>3836</td>
                    <td>7482</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Алмазы</td>
                    <td>683</td>
                    <td ALIGN=center colspan="2">238</td>
                </tr>
            </tfoot>
        </table>
    </main>



    <main><br><br>
         <table border cellspacing=0.5 bordercolor="brown red">
            <thead >
                <tr bgcolor=" brown red">
                    <td  ALIGN=center width="100" height="30" ></td>
                    <td  ALIGN=center width="50" style="color: white" >2004</td>
                    <td  ALIGN=center width="50" style="color: white">2005</td>
                    <td  ALIGN=center width="50" style="color: white" >2006</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Рубины</td>
                    <td ALIGN=center>43</td>
                    <td ALIGN=center>51</td>
                    <td ALIGN=center>79</td>
                </tr>
                <tr>
                    <td>Изумруды</td>
                    <td ALIGN=center>28</td>
                    <td ALIGN=center>34</td>
                    <td ALIGN=center>48</td>
                </tr>
                <tr>
                    <td>Сапфиры</td>
                    <td ALIGN=center>29</td>
                    <td ALIGN=center>57</td>
                    <td ALIGN=center>36</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td >Аметисты</td>
                    <td ALIGN=center>23</td>
                    <td ALIGN=center>64</td>
                    <td ALIGN=center>97</td>
                </tr>
            </tfoot>
        </table>
    </main>

    <main><br><br>
                 <table border cellspacing=0.5 bordercolor="black">
            <thead >
                <tr bgcolor=" brown red">
                    <td  ALIGN=center width="100" height="30"  style="background: gray; color: white"  >Название</td>
                    <td  ALIGN=center width="50" style="background: gray; color: white" >Цвет</td>
                    <td  ALIGN=center width="50" style="background: gray; color: white">Твердость по Моосу</td>
                    <td  ALIGN=center width="50" style="background: gray; color: white" >Формула</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background: Skyblue;">Алмаз</td>
                    <td ALIGN=center style="background: yellow;">Белый</td>
                    <td ALIGN=center style="background: Skyblue;">10</td>
                    <td ALIGN=center style="background: yellow;">С</td>
                </tr>
                <tr>
                    <td style="background: Skyblue;">Рубин</td>
                    <td ALIGN=center style="background: yellow;">Красный</td>
                    <td ALIGN=center style="background: Skyblue;">9</td>
                    <td ALIGN=center style="background: yellow;">Al<sub>2</sub>O<sub>3</sub></td>
                </tr>
                <tr>
                    <td style="background: Skyblue;">Аметист</td>
                    <td ALIGN=center style="background: yellow;">Голубой</td>
                    <td ALIGN=center style="background: Skyblue;">7</td>
                    <td ALIGN=center style="background: yellow;">SiO<sub>2</sub></td>
                </tr>
                <tr>
                    <td style="background: Skyblue;">Изумруд</td>
                    <td ALIGN=center style="background: yellow;">Зеленый</td>
                    <td ALIGN=center style="background: Skyblue;">8</td>
                    <td ALIGN=center style="background: yellow;">Be<sub>3</sub>Al<sub>2</sub>(SiO<sub>3</sub>)<sub>6</sub></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="background: Skyblue;">Сапфир</td>
                    <td ALIGN=center style="background: yellow;">Голубой</td>
                    <td ALIGN=center style="background: Skyblue;">9</td>
                    <td ALIGN=center style="background: yellow;">Al<sub>2</sub>O<sub>3</sub></td>
                </tr>
            </tfoot>
        </table>
    </main>

    <main><br><br>
        <h1>Карта сокровищ </h1>
        <hr>
     <img src="https://img.freepik.com/premium-vector/map-treasures-paper-parchment_8071-3421.jpg" alt="Map of gold">
        <hr>
        <span>Пройдено: </span><progress  value="75" max="100"> </progress>
    </main>

    <main>
        <h1>Химические элементы </h1>
        <hr>
                     <table>
            <thead >
                <tr >
                    <td>Номер</td>
                    <td>Название</td>
                    <td>Символ</td>
                    <td>Год</td>
                    <td>Статья</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><ins style="color: blue">Водород</ins></td>
                    <td><strong>H</strong></td>
                    <td>1766</td>
                    <td><img width="30" height="30" src="https://cdn-icons-png.flaticon.com/128/4280/4280050.png " alt="lol"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><ins style="color: blue">Гелий</ins></td>
                    <td><strong>He</strong></td>
                    <td>1895</td>
                    <td><img width="30" height="30" src="https://cdn-icons-png.flaticon.com/128/4280/4280050.png " alt="lol"></td>
                </tr>
            </tbody>
                <tfoot>
                <tr>
                    <td>3</td>
                    <td><ins style="color: blue">Бор</ins></td>
                    <td><strong>B</strong></td>
                    <td>1808</td>
                    <td><img width="30" height="30" src="https://cdn-icons-png.flaticon.com/128/4280/4280050.png " alt="lol"></td>
                </tr>
                </tfoot>
        </table>
        <hr>
    </main>

    <main>
        <h1>Генераторы</h1>
        <ul>
            <li> Цвета </li>
                <ul>
                    <li>Color Mixers</li>
                    <li>Color Tester</li>
                    <li>Color Pallete</li>
                </ul>
        </ul>
        <ul>
            <li>Фавиконы</li>
                <ol>
                    <li>Favicon.cc</li>
                        <ul>
                            <li><ins style="color: blue">Скачать</ins></li>
                            <li><ins style="color: blue">Демо</ins></li>
                        </ul>
                    <li>WebLab Favicon</li>
                </ol>
        </ul>
        <ul>
            <li>Фоны</li>
                <ul>
                    <li>BgMaker</li>
                    <li>StripeGenerator</li>
                </ul>
        </ul>
        <ul>
            <li>Ихображения</li>
                <ol>
                    <li>Buttonator</li>
                    <li>AjaxLoad</li>
                </ol>
        </ul>
    </main>

    <main>
        <h2>Стихотворение</h2>
        <p>
               Мириады маленьких дел <br>
               Пьют по капле гаснущий день, <br>
               А <em>дела большие</em> сушит жажда. <br>
               Оставляя все на "потом", <br>
               Прозреваем задним числом, <br>
               Только день <strong>не повторится</strong> дважды. <br>
        </p>
        <address>И.Тальков</address>
    </main>

    <main>
        <h1 style="color: red">Заголовок первого уровня</h1>
        <h2 style="color: green">Заголовок второго уровня</h2>
        <h3 style="color: pink">Заголовок третьего уровня</h3>
         <span>Пример ссылки</span> <a href="/" style="color: green">ведущей на другую страницу</a>
    </main>

    <main> <br> <br>
        <span>Неделя:</span><input type="week"> <br> <br>
        <span>Дата и время:</span><input type="datetime-local"> <br><br>
        <span>Месяц:</span><input type="month"> <br> <br>
        <span>Время:</span><input type="time"> <br><br>
        <input type="submit">

    </main>

    <main>
        <h1>Форма заявки на работу в зоопарке</h1>
        <i style="color: gray">Пожалуйста, заполните форму. Обязательные поля помечены <i style="color:red">*</i></i>
        <form><br>
            <fieldset>
                <legend>Контактная информация</legend>
                <label for="name">Имя<a style="color:red">*</a></label>
                <input type="text" id="name"><br><br>
                <label for="phone">Телефон</label>
                <input type="text" id="phone"><br><br>
                <label for="number">Номер<a style="color:red">*</a></label>
                <input type="text" id="number"><br><br>
            </fieldset>
        </form><br>
        <form>
        <fieldset>
            <legend>Персональная информация</legend>
            <label for="age">Возраст<a style="color:red">*</a></label>
                <input type="text" id="age"><br><br>
            <label for="sex">Пол</label>
                <select id="sex">
                    <option value="Женщина">Женщина</option>
                    <option value="Мужчина">Мужчина</option>
                </select> <br> <br>
            <label for="messege">Перечислите личные качеста</label>
               <textarea id="messege" rows="10" cols="45" name="text"></textarea>
        </fieldset>
        </form>
        <form> <br>
            <fieldset>
                <legend>Выберите ваших любимых животных</legend>
                    <label><input type="checkbox" value="option1">Зебра</label>
                <label><input type="checkbox" value="option2" checked>Кот</label>
                <label><input type="checkbox" value="option3">Анаконда</label>
                <label><input type="checkbox" value="option4">Человек</label><br>
                <label><input type="checkbox" value="option5">Слон</label>
                <label><input type="checkbox" value="option6">Антилопа</label>
                <label><input type="checkbox" value="option7">Голубь</label>
                <label><input type="checkbox" value="option8">Краб</label>
            </fieldset>
        </form><br>
        <button  type="submit" >Отправить информацию</button>
    </main>

<!--{% endblock %}-->

</body>
</html>

